.container {
  width: min(100% - 1rem, 1200px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 1rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.product {
  padding: 20px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
